@(lstSurveys: List[Combined])
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>

<script>
function myFunction() {
    var x = document.getElementById("myText").value;
    document.getElementById("demo").innerHTML = x;

}
</script>
<!--document.getElementById("demo").innerHTML = x;-->
<div data-role="page" id="pageone">
    <div data-role="main" class="ui-content">
        <form><input type="button" value="back" onClick="history.go(-1);return true;"></form>
        <div data-role="collapsibleset">
            @for(survey <- lstSurveys){
            <div data-role="collapsible">
                <h3>@survey.title</h3>
                <p>Sent: @survey.sent</p>
                <p>Received: @survey.received</p>
                <div>Send survey to: </div><br>
                @helper.form(action = routes.Survey.sendSurvey(survey.surveyid)){
                <div><input type="text" name="emails"></div>
                <div><button type="submit" >Send</button></div>

                <p id="demo"></p>
                }
                <button class="btn-primary" type="submit"><a href="@routes.Response.index">Responses</a></button>

            </div>
            }

        </div>

    </div>
</div>
</div>
</body>
